<%- include('header') -%>
<video class="video-display" id="video-player" controls>
  <!--Link í json skilar rangri URI þannig henni er breyt í rétt fyrir-->
  <source src="<%=videoData.videos[id-1].video.substring(1,videoData.videos[id-1].video.length)%>">
</video>

<h2>Tengd Myndbönd</h2>

<div class="videos">
  <% videoData.videos[id-1].related.forEach((el ,i) => { %>
  <div class="thumbnail"><a href="http://<%=hostname%>/video/<%=el%>">
    <img src="<%= videoData.videos[el-1].poster %>">
    <div class="time-stamp"><%= createTimeStamp(videoData.videos[el-1].duration) %></div>
    <div class="date"><%= createDate(videoData.videos[el-1].created) %></div>
  </a></div>
  <% }); %>
</div>

<a href="/" class="til-baka-link">Til baka</a>


<%- include('footer') -%>
